
<div class="general-cont-peopleSignUp">

    <div class="field">
        <div class="control">
          <input class="input " type="text" placeholder="Primary input">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input class="input " type="text" placeholder="Info input">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input class="input " type="text" placeholder="Success input">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input class="input " type="text" placeholder="Warning input">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input class="input" type="text" placeholder="Danger input">
        </div>
      </div>

</div>