    <div class="modal is-active">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div [ngClass]="{'animate__animated animate__zoomOut':closeModaleAnimated} ">
                <div class="animate__animated animate__zoomIn general-cont">
                    <div style="height: 100%;">
                        <div class="message-cont">
                            Eres mayor de edad
                        </div>
                        <div class="validate-btn">
                            <button (click)="validateAge()"class="button btn">Continuar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>